@use './variables' as *;

// Shared colors

$white: #ffffff;
$black: #000000;
$ref-primary-primary0: #000000;
$ref-primary-primary10: #041e49;
$ref-primary-primary20: #062e6f;
$ref-primary-primary30: #0842a0;
$ref-primary-primary40: #0b57d0;
$ref-primary-primary50: #1b6ef3;
$ref-primary-primary60: #4c8df6;
$ref-primary-primary70: #7cacf8;
$ref-primary-primary80: #a8c7fa;
$ref-primary-primary90: #d3e3fd;
$ref-primary-primary95: #ecf3fe;
$ref-primary-primary99: #fafbff;
$ref-primary-primary100: #ffffff;
$ref-primary-primary4: #000f20;
$ref-primary-primary6: #001428;
$ref-primary-primary12: #00213c;
$ref-primary-primary17: #002c4d;
$ref-primary-primary22: #00375e;
$ref-primary-primary24: #003b65;
$ref-primary-primary87: #c2dcff;
$ref-primary-primary92: #dbe9ff;
$ref-primary-primary94: #e4efff;
$ref-primary-primary96: #eef4ff;
$ref-secondary-secondary0: #000000;
$ref-secondary-secondary10: #001d35;
$ref-secondary-secondary20: #003355;
$ref-secondary-secondary30: #004a77;
$ref-secondary-secondary40: #00639b;
$ref-secondary-secondary50: #047db7;
$ref-secondary-secondary60: #3998d3;
$ref-secondary-secondary70: #5ab3f0;
$ref-secondary-secondary80: #7fcfff;
$ref-secondary-secondary90: #c2e7ff;
$ref-secondary-secondary95: #dff3ff;
$ref-secondary-secondary99: #f7fcff;
$ref-secondary-secondary100: #ffffff;
$ref-secondary-secondary4: #030f1d;
$ref-secondary-secondary6: #071422;
$ref-secondary-secondary12: #14202f;
$ref-secondary-secondary17: #1e2b3a;
$ref-secondary-secondary22: #293645;
$ref-secondary-secondary24: #2d3a49;
$ref-secondary-secondary87: #cedbef;
$ref-secondary-secondary92: #dce9fd;
$ref-secondary-secondary94: #e4efff;
$ref-secondary-secondary96: #eef4ff;
$ref-tertiary-tertiary0: #000000;
$ref-tertiary-tertiary10: #072711;
$ref-tertiary-tertiary20: #0a3818;
$ref-tertiary-tertiary30: #0f5223;
$ref-tertiary-tertiary40: #146c2e;
$ref-tertiary-tertiary50: #198639;
$ref-tertiary-tertiary60: #1ea446;
$ref-tertiary-tertiary70: #37be5f;
$ref-tertiary-tertiary80: #6dd58c;
$ref-tertiary-tertiary90: #c4eed0;
$ref-tertiary-tertiary95: #e7f8ed;
$ref-tertiary-tertiary99: #f2ffee;
$ref-tertiary-tertiary100: #ffffff;
$ref-tertiary-tertiary4: #160724;
$ref-tertiary-tertiary6: #1c0c29;
$ref-tertiary-tertiary12: #291936;
$ref-tertiary-tertiary17: #342341;
$ref-tertiary-tertiary22: #3f2e4d;
$ref-tertiary-tertiary24: #443251;
$ref-tertiary-tertiary87: #ead1f9;
$ref-tertiary-tertiary92: #f5e1ff;
$ref-tertiary-tertiary94: #f9e8ff;
$ref-tertiary-tertiary96: #fcf0ff;
$ref-error-error0: #000000;
$ref-error-error10: #410e0b;
$ref-error-error20: #601410;
$ref-error-error30: #8c1d18;
$ref-error-error40: #b3261e;
$ref-error-error50: #dc362e;
$ref-error-error60: #e46962;
$ref-error-error70: #ec928e;
$ref-error-error80: #f2b8b5;
$ref-error-error90: #f9dedc;
$ref-error-error95: #fceeee;
$ref-error-error99: #fffbf9;
$ref-error-error100: #ffffff;
$ref-error-error4: #280001;
$ref-error-error6: #310001;
$ref-error-error12: #490002;
$ref-error-error17: #5c0004;
$ref-error-error22: #710005;
$ref-error-error24: #790006;
$ref-error-error87: #ffcfc9;
$ref-error-error92: #ffe2de;
$ref-error-error94: #ffe9e6;
$ref-error-error96: #fff0ee;
$ref-neutral-neutral0: #000000;
$ref-neutral-neutral10: #1f1f1f;
$ref-neutral-neutral20: #303030;
$ref-neutral-neutral30: #474747;
$ref-neutral-neutral40: #5e5e5e;
$ref-neutral-neutral50: #757575;
$ref-neutral-neutral60: #8f8f8f;
$ref-neutral-neutral70: #ababab;
$ref-neutral-neutral80: #c7c7c7;
$ref-neutral-neutral90: #e3e3e3;
$ref-neutral-neutral95: #f2f2f2;
$ref-neutral-neutral99: #fdfcfb;
$ref-neutral-neutral100: #ffffff;
$ref-neutral-neutral-na-n: #ffffff;
$ref-neutral-neutral4: #0e0e0f;
$ref-neutral-neutral6: #131314;
$ref-neutral-neutral12: #1f2020;
$ref-neutral-neutral17: #2a2a2a;
$ref-neutral-neutral22: #343535;
$ref-neutral-neutral24: #393939;
$ref-neutral-neutral87: #dadada;
$ref-neutral-neutral92: #e9e8e8;
$ref-neutral-neutral94: #efeded;
$ref-neutral-neutral96: #f4f3f2;
$ref-neutral-variant-neutral-variant0: #000000;
$ref-neutral-variant-neutral-variant10: #191d1c;
$ref-neutral-variant-neutral-variant20: #2d312f;
$ref-neutral-variant-neutral-variant30: #444746;
$ref-neutral-variant-neutral-variant40: #5c5f5e;
$ref-neutral-variant-neutral-variant50: #747775;
$ref-neutral-variant-neutral-variant60: #8e918f;
$ref-neutral-variant-neutral-variant70: #a9acaa;
$ref-neutral-variant-neutral-variant80: #c4c7c5;
$ref-neutral-variant-neutral-variant90: #e1e3e1;
$ref-neutral-variant-neutral-variant95: #eff2ef;
$ref-neutral-variant-neutral-variant99: #fafdfb;
$ref-neutral-variant-neutral-variant100: #ffffff;
$ref-neutral-variant-neutral-variant4: #0a0f14;
$ref-neutral-variant-neutral-variant6: #0f141a;
$ref-neutral-variant-neutral-variant12: #1b2026;
$ref-neutral-variant-neutral-variant17: #262a31;
$ref-neutral-variant-neutral-variant22: #30353c;
$ref-neutral-variant-neutral-variant24: #353a40;
$ref-neutral-variant-neutral-variant87: #d6dae3;
$ref-neutral-variant-neutral-variant92: #e4e8f1;
$ref-neutral-variant-neutral-variant94: #eaeef7;
$ref-neutral-variant-neutral-variant96: #f0f4fc;
$key-colors-primary: #0b57d0;
$source-seed: #0b57d0;

// Dark theme

$sys-dark-primary: #a8c7fa;
$sys-dark-on-primary: #062e6f;
$sys-dark-primary-container: #0842a0;
$sys-dark-on-primary-container: #d3e3fd;
$sys-dark-primary-fixed: #d3e3fd;
$sys-dark-on-primary-fixed: #041e49;
$sys-dark-primary-fixed-dim: #a8c7fa;
$sys-dark-on-primary-fixed-variant: #0842a0;
$sys-dark-secondary: #7fcfff;
$sys-dark-on-secondary: #003355;
$sys-dark-secondary-container: #004a77;
$sys-dark-on-secondary-container: #c2e7ff;
$sys-dark-secondary-fixed: #c2e7ff;
$sys-dark-on-secondary-fixed: #001d35;
$sys-dark-secondary-fixed-dim: #7fcfff;
$sys-dark-on-secondary-fixed-variant: #004a77;
$sys-dark-tertiary: #6dd58c;
$sys-dark-on-tertiary: #0a3818;
$sys-dark-tertiary-container: #0f5223;
$sys-dark-on-tertiary-container: #c4eed0;
$sys-dark-tertiary-fixed: #c4eed0;
$sys-dark-on-tertiary-fixed: #072711;
$sys-dark-tertiary-fixed-dim: #6dd58c;
$sys-dark-on-tertiary-fixed-variant: #0f5223;
$sys-dark-error: #f2b8b5;
$sys-dark-on-error: #601410;
$sys-dark-error-container: #8c1d18;
$sys-dark-on-error-container: #f9dedc;
$sys-dark-outline: #8e918f;
$sys-dark-background: #131314;
$sys-dark-on-background: #e3e3e3;
$sys-dark-surface: #131314;
$sys-dark-on-surface: #e3e3e3;
$sys-dark-surface-variant: #444746;
$sys-dark-on-surface-variant: #c4c7c5;
$sys-dark-inverse-surface: #e3e3e3;
$sys-dark-inverse-on-surface: #303030;
$sys-dark-inverse-primary: #0b57d0;
$sys-dark-shadow: #000000;
$sys-dark-surface-tint: #d1e1ff;
$sys-dark-outline-variant: #444746;
$sys-dark-scrim: #000000;
$sys-dark-surface-container-highest: #333537;
$sys-dark-surface-container-high: #282a2c;
$sys-dark-surface-container: #1e1f20;
$sys-dark-surface-container-low: #1b1b1b;
$sys-dark-surface-container-lowest: #0e0e0e;
$sys-dark-surface-bright: #37393b;
$sys-dark-surface-dim: #131313;
$surfaces-dark-surface1: #131314;
$surfaces-dark-surface2: #131314;
$surfaces-dark-surface3: #131314;
$surfaces-dark-surface4: #131314;
$surfaces-dark-surface5: #131314;

// Light theme

$sys-light-primary: #0b57d0;
$sys-light-on-primary: #ffffff;
$sys-light-primary-container: #d3e3fd;
$sys-light-on-primary-container: #041e49;
$sys-light-primary-fixed: #d3e3fd;
$sys-light-on-primary-fixed: #041e49;
$sys-light-primary-fixed-dim: #a8c7fa;
$sys-light-on-primary-fixed-variant: #0842a0;
$sys-light-secondary: #00639b;
$sys-light-on-secondary: #ffffff;
$sys-light-secondary-container: #c2e7ff;
$sys-light-on-secondary-container: #001d35;
$sys-light-secondary-fixed: #c2e7ff;
$sys-light-on-secondary-fixed: #001d35;
$sys-light-secondary-fixed-dim: #7fcfff;
$sys-light-on-secondary-fixed-variant: #004a77;
$sys-light-tertiary: #146c2e;
$sys-light-on-tertiary: #ffffff;
$sys-light-tertiary-container: #c4eed0;
$sys-light-on-tertiary-container: #072711;
$sys-light-tertiary-fixed: #c4eed0;
$sys-light-on-tertiary-fixed: #072711;
$sys-light-tertiary-fixed-dim: #6dd58c;
$sys-light-on-tertiary-fixed-variant: #0f5223;
$sys-light-error: #b3261e;
$sys-light-on-error: #ffffff;
$sys-light-error-container: #f9dedc;
$sys-light-on-error-container: #410e0b;
$sys-light-outline: #747775;
$sys-light-background: #ffffff;
$sys-light-on-background: #1f1f1f;
$sys-light-surface: #ffffff;
$sys-light-on-surface: #1f1f1f;
$sys-light-surface-variant: #e1e3e1;
$sys-light-on-surface-variant: #444746;
$sys-light-inverse-surface: #303030;
$sys-light-inverse-on-surface: #f2f2f2;
$sys-light-inverse-primary: #a8c7fa;
$sys-light-shadow: #000000;
$sys-light-surface-tint: #6991d6;
$sys-light-outline-variant: #c4c7c5;
$sys-light-scrim: #000000;
$sys-light-surface-container-highest: #dde3ea;
$sys-light-surface-container-high: #e9eef6;
$sys-light-surface-container: #f0f4f9;
$sys-light-surface-container-low: #f8fafd;
$sys-light-surface-container-lowest: #ffffff;
$sys-light-surface-bright: #ffffff;
$sys-light-surface-dim: #d3dbe5;
$surfaces-light-surface1: #ffffff;
$surfaces-light-surface2: #ffffff;
$surfaces-light-surface3: #ffffff;
$surfaces-light-surface4: #ffffff;
$surfaces-light-surface5: #ffffff;

// Default theme (dark mode)

$sys-primary: $sys-dark-primary;
$sys-on-primary: $sys-dark-on-primary;
$sys-primary-container: $sys-dark-primary-container;
$sys-on-primary-container: $sys-dark-on-primary-container;
$sys-primary-fixed: $sys-dark-primary-fixed;
$sys-on-primary-fixed: $sys-dark-on-primary-fixed;
$sys-primary-fixed-dim: $sys-dark-primary-fixed-dim;
$sys-on-primary-fixed-variant: $sys-dark-on-primary-fixed-variant;
$sys-secondary: $sys-dark-secondary;
$sys-on-secondary: $sys-dark-on-secondary;
$sys-secondary-container: $sys-dark-secondary-container;
$sys-on-secondary-container: $sys-dark-on-secondary-container;
$sys-secondary-fixed: $sys-dark-secondary-fixed;
$sys-on-secondary-fixed: $sys-dark-on-secondary-fixed;
$sys-secondary-fixed-dim: $sys-dark-secondary-fixed-dim;
$sys-on-secondary-fixed-variant: $sys-dark-on-secondary-fixed-variant;
$sys-tertiary: $sys-dark-tertiary;
$sys-on-tertiary: $sys-dark-on-tertiary;
$sys-tertiary-container: $sys-dark-tertiary-container;
$sys-on-tertiary-container: $sys-dark-on-tertiary-container;
$sys-tertiary-fixed: $sys-dark-tertiary-fixed;
$sys-on-tertiary-fixed: $sys-dark-on-tertiary-fixed;
$sys-tertiary-fixed-dim: $sys-dark-tertiary-fixed-dim;
$sys-on-tertiary-fixed-variant: $sys-dark-on-tertiary-fixed-variant;
$sys-error: $sys-dark-error;
$sys-on-error: $sys-dark-on-error;
$sys-error-container: $sys-dark-error-container;
$sys-on-error-container: $sys-dark-on-error-container;
$sys-outline: $sys-dark-outline;
$sys-background: $sys-dark-background;
$sys-on-background: $sys-dark-on-background;
$sys-surface: $sys-dark-surface;
$sys-on-surface: $sys-dark-on-surface;
$sys-surface-variant: $sys-dark-surface-variant;
$sys-on-surface-variant: $sys-dark-on-surface-variant;
$sys-inverse-surface: $sys-dark-inverse-surface;
$sys-inverse-on-surface: $sys-dark-inverse-on-surface;
$sys-inverse-primary: $sys-dark-inverse-primary;
$sys-shadow: $sys-dark-shadow;
$sys-surface-tint: $sys-dark-surface-tint;
$sys-outline-variant: $sys-dark-outline-variant;
$sys-scrim: $sys-dark-scrim;
$sys-surface-container-highest: $sys-dark-surface-container-highest;
$sys-surface-container-high: $sys-dark-surface-container-high;
$sys-surface-container: $sys-dark-surface-container;
$sys-surface-container-low: $sys-dark-surface-container-low;
$sys-surface-container-lowest: $sys-dark-surface-container-lowest;
$sys-surface-bright: $sys-dark-surface-bright;
$sys-surface-dim: $sys-dark-surface-dim;
$surfaces-surface1: $surfaces-dark-surface1;
$surfaces-surface2: $surfaces-dark-surface2;
$surfaces-surface3: $surfaces-dark-surface3;
$surfaces-surface4: $surfaces-dark-surface4;
$surfaces-surface5: $surfaces-dark-surface5;

// Light theme

@if $theme == 'light' {
  $sys-primary: $sys-light-primary;
  $sys-on-primary: $sys-light-on-primary;
  $sys-primary-container: $sys-light-primary-container;
  $sys-on-primary-container: $sys-light-on-primary-container;
  $sys-primary-fixed: $sys-light-primary-fixed;
  $sys-on-primary-fixed: $sys-light-on-primary-fixed;
  $sys-primary-fixed-dim: $sys-light-primary-fixed-dim;
  $sys-on-primary-fixed-variant: $sys-light-on-primary-fixed-variant;
  $sys-secondary: $sys-light-secondary;
  $sys-on-secondary: $sys-light-on-secondary;
  $sys-secondary-container: $sys-light-secondary-container;
  $sys-on-secondary-container: $sys-light-on-secondary-container;
  $sys-secondary-fixed: $sys-light-secondary-fixed;
  $sys-on-secondary-fixed: $sys-light-on-secondary-fixed;
  $sys-secondary-fixed-dim: $sys-light-secondary-fixed-dim;
  $sys-on-secondary-fixed-variant: $sys-light-on-secondary-fixed-variant;
  $sys-tertiary: $sys-light-tertiary;
  $sys-on-tertiary: $sys-light-on-tertiary;
  $sys-tertiary-container: $sys-light-tertiary-container;
  $sys-on-tertiary-container: $sys-light-on-tertiary-container;
  $sys-tertiary-fixed: $sys-light-tertiary-fixed;
  $sys-on-tertiary-fixed: $sys-light-on-tertiary-fixed;
  $sys-tertiary-fixed-dim: $sys-light-tertiary-fixed-dim;
  $sys-on-tertiary-fixed-variant: $sys-light-on-tertiary-fixed-variant;
  $sys-error: $sys-light-error;
  $sys-on-error: $sys-light-on-error;
  $sys-error-container: $sys-light-error-container;
  $sys-on-error-container: $sys-light-on-error-container;
  $sys-outline: $sys-light-outline;
  $sys-background: $sys-light-background;
  $sys-on-background: $sys-light-on-background;
  $sys-surface: $sys-light-surface;
  $sys-on-surface: $sys-light-on-surface;
  $sys-surface-variant: $sys-light-surface-variant;
  $sys-on-surface-variant: $sys-light-on-surface-variant;
  $sys-inverse-surface: $sys-light-inverse-surface;
  $sys-inverse-on-surface: $sys-light-inverse-on-surface;
  $sys-inverse-primary: $sys-light-inverse-primary;
  $sys-shadow: $sys-light-shadow;
  $sys-surface-tint: $sys-light-surface-tint;
  $sys-outline-variant: $sys-light-outline-variant;
  $sys-scrim: $sys-light-scrim;
  $sys-surface-container-highest: $sys-light-surface-container-highest;
  $sys-surface-container-high: $sys-light-surface-container-high;
  $sys-surface-container: $sys-light-surface-container;
  $sys-surface-container-low: $sys-light-surface-container-low;
  $sys-surface-container-lowest: $sys-light-surface-container-lowest;
  $sys-surface-bright: $sys-light-surface-bright;
  $sys-surface-dim: $sys-light-surface-dim;
  $surfaces-surface1: $surfaces-light-surface1;
  $surfaces-surface2: $surfaces-light-surface2;
  $surfaces-surface3: $surfaces-light-surface3;
  $surfaces-surface4: $surfaces-light-surface4;
  $surfaces-surface5: $surfaces-light-surface5;
}
